body {
    background-color: #01c066;
    background-image: radial-gradient(circle, grey 0.5px, #01c066 1px);
    background-size: 7px 7px;
    font-family: Verdana, sans-serif;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

form {
    width: fit-content;
    background-color: white;
    font-size: 15px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

div {
    margin-bottom: 25px;
}

div label {
    display: block;
    margin-bottom: 10px;
}

div input, div select, div textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

div input[type="radio"],
div input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 7px 3px 0;
    text-align: center;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    background-color: #01c066;
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 20px;
    margin: 50px 0 20px;
    cursor: pointer;
}

.form-submitted {
    background-color: rgba(255, 255, 255, 0.932);
    font-size: 16px;
    font-weight: bold;
    justify-self: center;
    align-content: center;
    text-align: center;
    width: 50vh;
    height: 20vh;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}