body {
    background-color: green;
    justify-content: center;
    display: block;
}

h1 {
    text-align: center;

}

form {
    justify-self: center;
    width: fit-content;
    background-color: white;
    padding: 10px;
    box-shadow: 0 3px 10px black;
}

fieldset {
    border: none;
}